In [3]:
import pandas as pd
import numpy as np

In [4]:
#Make floats display as dollar amounts
pd.options.display.float_format = '${:,.2f}'.format

In [5]:
#Read in the cleaned data
data = pd.read_csv('cleaned_data.csv', dtype={'zipcode': str})

In [8]:
#Claims with round number amounts (likely not to be customers)
round_claims = data[data['amount'] % 1000 < 1]
round_claims.sort_values('amount', ascending=False)

                          name      amount zipcode
8504                  Thunevin $400,000.00   33350
4792                  Keng Ong $340,000.00    19/F
3316    Ionia Atlantic Imports $200,000.00   63144
523           Atherton Imports $175,000.00   94026
466              ARF Financial $135,000.00   94403
9060             William Witte  $90,000.00   92651
3207                Hillebrand  $53,000.00   21202
2297          E. James Langham  $40,000.00   94609
2620               Filips Wine  $38,000.00   94300
3324       Irvine Wine Imports  $35,000.00   92614
1022                Cam Garner  $21,000.00   92067
7915               Simon Pharr  $21,000.00   11560
8771           Vienna Wine Co.  $20,000.00   94618
5178               Leyla Pasic  $20,000.00   e 800
9091        Xavier Von Bertrab  $19,000.00   92118
2675           Frank Saulsbury  $16,000.00   94708
2772              Gary Fordyce  $13,000.00   22201
9076            Wine Warehouse  $13,000.00   94145
1434          Coastal Products  $12,000.00   95487
8958             William Getty   $9,000.00   94111
3863             Jeremy Hitzig   $8,000.00   10024
8725           Ulrich Hermanto   $6,000.00   10570
6724                      PG&E   $5,000.00   95899
7792  Seabrook Export Services   $5,000.00   , E-1
8729                 V59 Wines   $5,000.00   20015
1011           Burton M. Propp   $4,000.00   94612
4148                  John Fox       $0.00   . 225
3169             Hector Ortega       $0.00    #480
8265       Surachai Lattapanit       $0.00     NaN
1710                David Baba       $0.00   96813
3880             Jerome Dobson       $0.00   63108